
{% extends "header.html" %}

{% block content %}

<div class="container" style="max-width: 1500px; min-height: 100%">
    <div class="col-md-10">
        <div class="vid-and-nav">
            <div class="vid-display">
                <div class="vid-heading">
                    <p>Progressing From Excel To R: Pivot Tables</p>
                </div>
                <div class="vid-body">
                    <iframe class="video-content" width='784' height='441' src="https://www.youtube.com/embed/ARWUIC-cMVM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
 
            <div class="nav-buttons">
                <nav aria-label="...">
                  <ul class="pager">
                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="next-heading">
            <h3>More In This Series:</h3>
        </div>

        <div class="thumbnails-container">
            <div class="thumbnail">
                <div class="thumbnail-title">
                    <p>Vlookups</p>
                </div>
                <div class="thumbnail-holder">
                    <a href='#' class="thumbnail-pic"><img src="../../static/images/thumbnails/Progressing_From_Excel_To_R/Series1_Vlookups.jpg" align=""></img>
                    </a>
                </div>
            </div>
            <div class="thumbnail-sep"></div>
            <div class="thumbnail">
                <div class="thumbnail-title">
                    <p>Text Patterns</p>
                </div>
                <div class="thumbnail-holder">
                    <a href='#' class="thumbnail-pic"><img src="../../static/images/thumbnails/Progressing_From_Excel_To_R/Series1_Finding_Text_Patterns.jpg" align=""></img>
                    </a>
                </div>
            </div>
            <div class="thumbnail-sep"></div>
            <div class="thumbnail">
                <div class="thumbnail-title">
                    <p>Joining Text Together</p>
                </div>
                <div class="thumbnail-holder">
                    <a href='#' class="thumbnail-pic"><img src="../../static/images/thumbnails/Progressing_From_Excel_To_R/Series1_Joining_Text_Together.jpg" align=""></img>
                    </a>
                </div>
            </div>
            <div class="thumbnail-sep"></div>
            <div class="thumbnail">
                <a href="#">
                    <div class="thumbnail-title">
                        <p>Subsetting Text</p>
                    </div>
                    <div class="thumbnail-holder">
                        <a class="thumbnail-pic"><img src="../../static/images/thumbnails/Progressing_From_Excel_To_R/Series1_Subsetting_Text.jpg" align=""></img>
                        </a>
                    </div>
                </a>
            </div>
            <div class="thumbnail-sep"></div>
            <div class="thumbnail">
                <a href="#">
                    <div class="thumbnail-title">
                        <p>Substituting Text</p>
                    </div>
                    <div class="thumbnail-holder">
                        <a class="thumbnail-pic"><img src="../../static/images/thumbnails/Progressing_From_Excel_To_R/Series1_Substituting_Text.jpg" align=""></img>
                        </a>
                    </div>
                </a>
            </div>
         </div>
    </div>
</div>

{% endblock %} 