
{% extends "blog/header.html" %}


{% block content %}

    <nav class = "navbar navbar-custom"> <!-- use navbar-default for light grey navbar and navbar-inverse for black navbar -->
        <div class="container-fluid"> <!-- makes the narbar extend accross the whole page -->
            <!-- Logo -->
            <div class = "navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <!-- making a hamburger menu: each line gives a bar in the 3-bar hamburger-->
                    <span class="icon-bar"></span>
                    <span class="icon-b   ar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='#' class="navbar-left"><img src="../../static/images/Statistical_Programming_Icon.jpg" width="600" height="50"></a>
            </div>  
            <!-- Menu Items -->

            <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <u class="nav navbar-nav navbar-right"> <!-- <u> stands for unordered list; Also think of the unordered list as being on the lefthand side -->
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Switching From Excel To R</a></li>
                            <li><a href="#">Automated Reporting Pipelines</a></li>
                        </ul>
                    </li>
                </u>
                
                <!-- right-align -->

                
            </div>
                
        </div>
    
    </nav>

{% include 'blog/includes/htmlsnippet.html'%} 
{% endblock %} 