

.body{
	background-color:#f3f3f3;
}

/* navbar */
.navbar-left{
	padding-left: 0px;
	color:#8B0000;
}
.navbar-right{
	padding-left: 0px;
	color:#8B0000;
}

.navbar-custom {
	color:#8B0000;	
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #D9D9D9;
	font-weight:bold;
	font-family: Trebuchet MS;
}

.navbar-brand {
	color:#DC143C;
}

.navbar-custom .navbar-nav > li > a {
	color:#DC143C;
}


.navbar-custom .navbar-nav > .active > a {
	color:#DC143C;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    font-weight: bold;
    background: #FADBD8;
    background: -webkit-linear-gradient(#FFFFFF, #FADBD8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #FADBD8); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#FFFFFF, #FADBD8); /* Standard syntax */
}

.container{
	margin:auto;
	padding:70px;
}

.vid-and-nav{

	position: fixed;
}

.vid-display{
	margin: auto;
	text-align: center;
	box-shadow: 2px 2px 5px #D9D9D9;
	border: solid #f3f3f3;
	border-width: 0 1px;
	background-color:#FFFFFF;
	padding:0px;

}
.vid-heading{
	margin:auto;
	padding: 0px;
	color:#FFFFFF;
	border-color:#d3d3d3;
	text-align: center;
	background-color:#8B0000;
	border-color:#f3f3f3;
	filter: none !important;
}
.vid-heading p{
	font-size: 30px;

}

.vid-body{
	margin:auto;
	padding:30px;
}

.video-content{
	margin: auto;
}

h2{
	font-family: Arial;
	font-weight: bold;
}


.nav-buttons{
	width:100%;
	margin:auto;
}



.col-md-2{
	height:2px;
	overflow-y:auto:;
}


.next-heading h3{
	font-size: 13px;
	color:#8B0000;
	font-family: cursive;
	font-style:italic;
	font-weight: bold;
}

.thumbnails-container{
	height:100px;
	overflow-y:auto:;
}

.thumbnail{
	height: 133px;
	text-align: center;
	margin:auto;
	background-color: #FFFFFF;
	padding:0px;
	box-shadow: 2px 2px 5px #D9D9D9;
}

.thumbnail-sep{
	padding:4px;
}

.thumbnail-title{
	margin:auto;
	padding:0px;
	text-align: center;
	background-color:#8B0000;
    background: -webkit-linear-gradient(right,#8B0000, 50%,#9B0000, #8B0000)); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#8B0000, 50%,#9B0000, #8B0000)); /*For Opera 11.1 to 12.0 */
    background: linear-gradient(to right,#8B0000, 50%,#9B0000, #8B0000);  /* Standard syntax */
	border-color:#f3f3f3;
	color:#FFFFFF;
}

.thumbnail-holder{
	margin: auto;
	padding:0px;
}

.thumbnail-pic img{
	border:0px;
	margin:auto;
	display:block;
	padding:2px;

}


.panel-footer-custom.navbar-fixed-bottom{
	background-color:#8B0000;
	color:#FFFFFF;
	padding:5px;
	height:30px;
	padding:5px;
}

.footer-copyright{
	float:left;
}

.footer-contact{
	float:right;
}

.clear-div{
	padding:0px;
}
