
{% extends "header.html" %}


{% block content %}
    <h3>More In This Series:</h3>
    	<div class="thumbnails_container">
	    	<ul>
	    		{% for video in video_list %} <!--Need to make sure this only pulls 4 at a time and pulls in correct order -->
		    		<li>
						<div class="thumbnail">
							<div class="thumbnail-title">
		    					<p>{{video.title}}</p>
		    				</div>
		    				<div class="thumbnail-holder">
		    					<a href="#" class="thumbnail-pic">
		    						<img src={{video.thumbnail_reference}}></img>
		    					</a>
		    				</div>
		    			</div>
		    		</li>
	    	</ul>
    	</div>

{% endblock %}
