
{% extends "header.html" %}

{% block content %}

<div class="container" style="max-width: 1500px; min-height: 100%">
    <div class="col-md-10">
        <div class="vid-and-nav">
            <div class="vid-display">
                <div class="vid-heading">
                    <p>{{video.title}}</p>
                </div>
                <div class="vid-body">
                    <iframe class="video-content" width='784' height='441' src={{video.yt_reference}} frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
 
            <div class="nav-buttons">
                <nav aria-label="...">
                  <ul class="pager">
                    <li class="previous disabled"><a href="base_url/videos/{{video.series_num}}/{{video.lesson_num}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href="{{base_url/videos/{{video.series_num}}/{{video.lesson_num}}}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="next-heading">
            <h3>More In This Series:</h3>
        </div>
        {{for }}
        <div class="thumbnails-container">
            <div class="thumbnail">
                <div class="thumbnail-title">
                    <p>{{video.title}}</p>
                </div>
                <div class="thumbnail-holder">
                    <a href='base_url/videos/{{video.series_num}}/{{video.lesson_num}}' class="thumbnail-pic"><img src="{{video.thumbnail_reference}}" align=""></img>
                    </a>
                </div>
            </div>
         </div>
    </div>
</div>

{% endblock %} 